*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*nav maenu on the left as a unordered list*/
.navbar1{
    display:flex;
    align-items: center;
    padding:20px;
}
/*nav maenu on the right as a unordered list*/
.nav1{
    flex: 1;
    text-align: right;
}
/*nav maenu on the right as a list but without bullet*/
.nav1 ul{
    display: inline-block;
    list-style-type: none;   
}
/*nav maenu on the right as a vertically list with 50px gapping with each with underline*/
.nav1 ul li{
    display: inline-block;
    margin-right: 50px;   
}
/*nav maenu on the right as a vertically list with 50px gapping with each without underline*/
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container1 {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.searchdiv {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.searchdiv input {
    width: 50%;
    padding: 7px;
    border: none;
    outline: solid red 1px;
}

.searchdiv input:focus {
    outline: solid red 1px;
}

.searchdiv button {
    padding: 7px;
    border: none;
    background-color: #ff523b;
    border-radius: 5px;
    color: white;
    padding: 7px 20px;
}

.searchdiv button:hover {
    cursor: pointer;
    background-color: #ba3726;
    outline: solid #ba3726 1px;
}

.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
}

.smholder {
    width: 100%;
    display: flex;
}

.sm {
    margin: 20px auto;

    padding: 7px 25px;
    background-color: #ff523b;
    border: none;
    color: white;
}

.sm:hover {
    cursor: pointer;
    background-color: #ba3726;
}

.col1-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col1-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col1-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn1{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn1:hover{
    background: #563434;
}

.btn12{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 20px;
    border-radius: 30px;
    transition: all 0.5s;
    border: 1px solid #ff523b;
}
.btn12:hover{
    background: #563434;
    border: 1px solid #563434;
}

.header1{
    background: radial-gradient(#fff, #ffd6d6);
}
.header1 .row{
    margin-top: 70px;
}

.categories1{
    margin: 70px 0;
}
.col1-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col1-3 img{
   width: 100%;
}

.small-container1{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;   
}
.col1-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    cursor: pointer;
}
.col1-4 img{
    width:100%;
}

.catdiv {
    display: flex;
    gap: 20px;
}
.title1{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title1::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col1-4 p{
    font-size: 14px;
}
.rating1 .fa{
    color: #ff523b;
}
.col1-4:hover{
    transform:translateY(-5px);
}

/*-----------------------offer -----------------------*/
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col1-2 .offer-img{
    padding: 50px;
}
small{
    color:#555;
}

/*-----------------------Testimonial -----------------------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width:50px;
    margin-top: 20px;
    border-radius: 50%;/*square images converted to round shape box*/
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*-----------------------Brands -----------------------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 100px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*-----------------------Footer -----------------------*/
.footer1{
    background:#000; /*black;*/
    color: #8a8a8a;
    font-size: 14px;
    padding:60px 0 20px;
}

.footer1 p{
    color: #8a8a8a;
}

.footer1 h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer-col1-1, .footer-col1-2,.footer-col1-3,.footer-col1-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col1-1{
    flex-basis: 30%;
}
.footer-col1-2{
    flex: 1;
    text-align: center;
}
.footer-col1-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col1-3,.footer-col1-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;   
}
.app-logo1{
    margin-top: 20px;
}
.app-logo1 img{
    width: 140px;
}

.footer1 hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon1{
    width: 28px;
    margin-left: 20px;  
    display:none;
    cursor: pointer;
}

.accErrorTxt {
    position: relative;
    top: 10px;
    font-weight: bold;
    color: rgb(191, 43, 43);
}

.er {
    color: rgb(191, 43, 43);
}

.accNoErrorTxt {
    position: relative;
    top: 10px;
    font-weight: bold;
    color: rgb(7, 222, 93);
}

.ner {
    color: rgb(7, 222, 93);
}

.tkn {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #818181;
    font-weight: bold;
}

/*-----------------------media query for menu -----------------------*/

@media only screen and (max-width:800px){
    .navbar1 {
        justify-content: space-between;
    }

    .nav1 ul{
        position: absolute;
        top:70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        
    }
    .nav1 ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav1 ul li a{
        color: #fff;
    }
    .menu-icon1{ 
        cursor: pointer;
    }

    .nav1 {
        display: none;
      }
    
      .nav1.open {
        display: block;
        top: 20px; /* Adjust this to your header height */
        background-color: white;
        width: 100%;
      }
    
      .nav1 ul {
        flex-direction: column;
        text-align: center;
      }
    
      .menu-icon1 {
        display: block;
      }
}

/*-----------------------media query for less than 600 screen size(mobile device) -----------------------*/
@media only screen and (max-width:600px){
    .row1{
        text-align: center;
    }
    .col1-2 .col1-3 .col1-4{
        flex-basis: 100%;
    }
    .single-product1 .row{
        text-align: left;
    }
    .single-product1 .col1-2{
        padding: 20px 0;
    }
    .single-product1 h1{
        font-size: 20px;
        line-height: 32px;
    }
    .cart-info1 p{
        display: none;
    }
    

}

/*--------------------all products-----------------------------------------------*/
.row1-2{
    justify-content: space-between;
    margin:100px auto 50px;
}
select{
    border:1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border:1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}


/*-----------------------single product details -----------------------*/

.single-product1{
    margin-top: 80px;
}
.single-product1 .col1-2 img{
    padding:0;
}
.single-product1 .col1-2{
    padding:20px;
}
.single-product1 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product1 select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product1 input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: apx solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product1 .fa1{
    color:#ff523b;
    margin-left: 10px;
}
.small-img-row1{
   display:flex;
    justify-content: space-between;
}
.small-img-col1{
    flex-basis: 24%;
    cursor: pointer;
}




        /*------------------------------ cart items ------------------------------*/
.cart-page1{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info1{
    display:flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price1{
    display: flex;
    justify-content: flex-end;
}
.total-price1 table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}


        /*------------------------------ account-page ------------------------------*/
.account-page1 {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container1 {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container1 span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn1 {
    display: inline-block;
    position: relative;
}

.form-container1 form {
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 0.5s ease-in-out;
}

#LoginForm1 input, #RegForm1 input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

#LoginForm1 .btn1, #RegForm1 .btn1 {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn1:focus{
    outline: none;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transition: transform 0.3s ease-in-out;
}

.eCart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.eCart img {
    width: 20em;
    height: 20em;
}
